# Kconfig - ST Microelectronics STM32F0 MCU line
#
# Copyright (c) 2017 RnDity Sp. z o.o.
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_SERIES_STM32F0X

source "arch/arm/soc/st_stm32/stm32f0/Kconfig.defconfig.stm32f0*"

config SOC_SERIES
	default stm32f0

config PINCTRL
	default y

config GPIO_LEGACY_API
	default n

config SPI_LEGACY_API
	default n

if I2C && (I2C_1 || I2C_2 || I2C_3)

config  I2C_STM32_V2
	default y

endif # I2C

endif # SOC_SERIES_STM32F0X
