/*
 * Copyright (c) 2017 Bobby Noelte
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f0/stm32f091Xc.dtsi>

/ {
	model = "STMicroelectronics STM32F091RC-NUCLEO board";
	compatible = "st,stm32f091rc-nucleo", "st,stm32f091";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		green_led_2: led_2 {
			gpios = <&gpioa 5 GPIO_INT_ACTIVE_HIGH>;
			label = "User LD2";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "User";
			gpios = <&gpioc 13 GPIO_INT_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &green_led_2;
		sw0 = &user_button;
	};
};

&pinctrl {
	status = "ok";
};

&gpioa {
	status = "ok";
};

&gpiob {
	status = "ok";
};

&gpioc {
	status = "ok";
};

&usart1 {
	current-speed = <115200>;
	pinctrl-0 = <&usart1_pins_a>;
	pinctrl-names = "default";
	status = "ok";
};

&usart2 {
	current-speed = <115200>;
	pinctrl-0 = <&usart2_pins_a>;
	pinctrl-names = "default";
	status = "ok";
};

arduino_i2c: &i2c1 {
	pinctrl-0 = <&i2c1_pins_b>;
	pinctrl-names = "default";
	status = "ok";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	pinctrl-0 = <&i2c2_pins_a>;
	pinctrl-names = "default";
	status = "ok";
	clock-frequency = <I2C_BITRATE_FAST>;
};

arduino_spi: &spi1 {
	pinctrl-0 = <&spi1_master_a>;
	pinctrl-names = "default";
	status = "ok";
};

&spi2 {
	pinctrl-0 = <&spi2_slave_a>;
	pinctrl-names = "default";
	status = "ok";
};

&can1 {
	pinctrl-0 = <&can_pins_b>;
	pinctrl-names = "default";
	bus-speed = <250000>;
	status = "ok";
};


&idwg {
	status = "ok";
};
