# Kconfig - configuration for STM32 pinctrl
#
# Copyright (c) 2018 Bobby Noelte
#
# SPDX-License-Identifier: Apache-2.0
#

config PINCTRL_STM32
	bool "Pinctrl driver for STM32 MCUs"
	select PINCTRL_HAS_DRIVER
	default y if PINCTRL && SOC_FAMILY_STM32
	select USE_STM32_LL_EXTI
	select USE_STM32_LL_GPIO
	select USE_STM32_LL_SYSTEM
	help
	 Enable pin controller for STM32 MCUs

